.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 20px 20px 20px 45px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: 10px;
    background-color: antiquewhite;
    border: 1px solid grey;
    border-radius: 0.35rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 150ms;
}

.cardText {
    padding: 15px;
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}

.card .back {
    transform: rotateY(180deg);
}

.card .front, .card .back {
    position: absolute;
    backface-visibility: hidden;
}

.answer:hover {
    cursor: pointer;
    background-color: lightgreen;
}
